<section class="imagen">
  
  <div class="row mx-auto">
    
    <div class="col-lg-6 col-md-12 col-sm-12 my-1 d-flex justify-content-start icono-wrap">
      <div class="card" style="width: 32rem;">
        <img src="assets/Imagenes/wallpaper-del-espacio-exterior.jpg" class="card-img-top" alt="Imagen 1 de la galeria">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-12 col-sm-12 my-1 d-flex justify-content-start icono-wrap">
      <div class="card" style="width: 32rem;">
        <img src="assets/Imagenes/1366_2000.jpg" class="card-img-top" alt="Imagen 2 de la galeria">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-12 col-sm-12 my-1 d-flex justify-content-start icono-wrap">
      <div class="card" style="width: 32rem;">
        <img src="assets/Imagenes/a7fcaa43650adc892c401956a08dc32a.jpg" class="card-img-top" alt="Imagen 3 de la galeria">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-md-12 col-sm-12 my-1 d-flex justify-content-start icono-wrap">
      <div class="card" style="width: 32rem;">
        <img src="assets/Imagenes/astronauta-perdido-en-el-espacio_2560x1440_xtrafondos.com.jpg" class="card-img-top" alt="Imagen 4 de la galeria">
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  
  </div>

</section>
