#hero{
    padding-top: 38px;
}
.hero-img{
    min-height: 35rem;

}

.card-text{
    margin: 20px;
    padding: 20px;
    color: white;
    font-size: 25px;
    background-color: rgba(0,0,0,0.40);

}
.card-title{
    margin: 45px;
    padding: 25px;
    color: white;
    font-size: 35px;
    background-color: rgba(0,0,0,0.40);
}