
  <section id="hero">
    <div class="card bg-dark text-white">
      <img src="assets/Imagenes/xeNZBp.jpg" class="card-img w-100 hero-img" alt="Imagen del hero">
      <div class="card-img-overlay contenedor">

        <div class="row justify-content-center pt-2 alling-items-center text-center m-auto">
          <div class="col-md-6 sm-12 text-white">
            <h2 class="card-title p-2 fs-2">Lorem ipsum dolor sit amet.</h2>
            <p class="card-text p-2 fs-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vitae laudantium magnam nobis quae a recusandae cum ullam veniam quod.</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Tengo la idea de colocar una carrusel en esta parte, y tal vez un lorem como titulo y parrafo, pero que no sean tantos al punto de que molesten a nivel visual. -->