
#seccion-contacto{
    background-color: #1b2a4e;
    min-height:539px;
    position:relative;
    top: 38px;
}
#contenedor-formulario{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    max-width: 500px;
}
#titulo-formulario {
    color: #3f3f3f;
}