<section id="seccion-contacto" class="border-bottom border-secondary border-2">
    <div class="container border-top border-primary" id="contenedor-formulario">
    <div class="text-center mb-4" id="titulo-formulario">
        <h2>Contactenos</h2>
        <p class="fs-5">Lorem ipsum dolor sit.</p>
    </div>

    <form action="">
        <div class="mb-3">
            <input type="imput" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" id="telefono" placeholder="Teléfono">
        </div>
        
        <div class="mb-3">
            <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribir:"></textarea>
        </div>

        <div class="mb-3">
            <button type="button" class="btn btn-primary w-100 fs-5">Enviar mensaje</button>
        </div>
        
    </form>
</div>
</section>