<footer class="w-100  d-flex  align-items-center justify-content-center flex-wrap">
    <p class="fs-5 px-3  pt-3">BootsTrap. &copy; Todos Los Derechos Reservados 2021</p>
    <div id="iconos" >
        <a href="https://www.facebook.com/" target="-blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/?lang=es" target="-blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/?hl=es" target="-blank"><i class="fab fa-instagram"></i></a>  
    </div>
  </footer>
