footer {
    background: #1b2a4e;
    min-height: 100px;
    padding-top: 15px;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 25px;
    padding: 0 9px;
    color:#f3f3f3;
}