<header class="container-fluid color fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark p-2 scrolling-navbar" id="menu">
    <div class="container">
      <a class="navbar-brand" href="https://www.google.com/?h1=es" target="-black">
          <span class="fs-5 text-warning fw-bold">BootsTrap</span>
         </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="inicio" routerLinkActive="active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="galeria" routerLinkActive="active" href="#">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contactos" routerLinkActive="active" href="#">Contactos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
